*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url();
    height: 100%;
    width: 100%;
    background-size: 100%;
    padding: 0px 20px;
    size: 500px;
    background-repeat:repeat;
    color: #ffffff;
  }
  
.title{
    display: block;
    margin: 0 16px;
    padding: 20px 0;
    justify-content: center;
    text-align: center;
}

.Bill {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0;
}

audio {
    width: 300px;
}

